/*# sourceMappingURL=style.css.map */
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .Header {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .button {
    background-color: #482d2d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    

  }
  
  .search-bar {
    display: flex;
    height: 40px;
    width: 55vw;
    justify-content: center;
    align-items: center ;
    margin-top: 10px;
    background-color: #482d2d;
    border-radius: 2000px;
  }
.Main {
  display: flex;
  flex-direction: row;
}
.Nav-left {
  width: 20vw;
}
.Main-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: fit-content;
  
}
.item {
  margin: 7px;
}